.main {
    margin-top: 10%;
}

.mainClick {
    margin-top: 2%;
}

body {
    background-color: rgb(29, 29, 29);
}

.fix {
    border: 2px solid #23d8f7;
    border-radius: 5px;
    background-color: #0ccac4;
    padding: 10px;
}

@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #0ccac4;
    height: 100px;
    width: 100%;
    line-height:2;
}

.button {
    background-color: #f33170;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.footer p {
    flex: center;
    color: #fff;
    margin: 340px 0 10px 0;
    font-size: 1.5rem;
    font-weight: 300;
    bottom: 0;
    height: 60px
}